.bg-pg {
    background-color: #ffc619;
}

.log-badge {
    margin-top: -20px;
    top: 45px;
}

/* Width Manipulation */
.w-93 {
    width: 93% !important;
}

.col-w-4 {
    width: 30% !important;
}

/* Image Manipulation */
.prev-image {
    max-width: 300px;
}

.square-300 {
    width: 300px;
    height: 300px;
}

.round-prof {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.prof-photo {
    border-radius: 50%;
}

.small-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

/* Text Manipulation */
.text-color-black {
    color: black;
}

/* Select2 Manipulation */
.select2-container--default .select2-selection--single {
    height: 37.6px;
}

/* Header Manipulation */
.sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 2;
}

#loader {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
}
